@mixin blendIn() {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 40px;
    content: "";
    background-color: #f2f2f2;
    mask-image: linear-gradient(to bottom, transparent, #000);
    pointer-events: none;
  }
}
