@mixin blendIn($height, $placement) {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $height;
    background-color: #f2f2f2;
    mask-image: linear-gradient(to $placement, transparent 0%, #000 100%);
    pointer-events: none;
    left: 0;
    #{$placement}: 0;
  }
}

@mixin pointer($type: "click") {
  @if ($type == "click") {
    cursor: url("/img/pointer.svg"), pointer;
  }
  @if ($type == "double-click") {
    cursor: url("/img/dblclick.png"), pointer;
  }
}

@mixin rounded($radius: 0.375em) {
  border-radius: $radius;
}

@mixin bgImg($file, $width, $height, $position: null) {
  background-image: url("/img/" + $file);
  background-repeat: no-repeat;
  background-size: $width $height;
  width: $width;
  height: $height;
  @if ($position) {
    background-position: $position;
  }
}

@mixin maskImg($file, $size: contain) {
  mask-image: url("/img/" + $file);
  mask-size: $size;
  mask-repeat: no-repeat;
}

@mixin transition() {
  transition: 300ms;
}

@mixin shadowOnHover() {
  &:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
  }
}

@mixin dialogBackdrop() {
  &::backdrop {
    backdrop-filter: blur(81.54845428466797px);
    background: rgba(14, 68, 71, 0.2);
  }
}
