@use "./reset.scss" as *;
@use "./globals.scss" as *;
@use "./theming.scss" as *;
@use "./typography.scss" as *;
@use "./layout.scss" as *;
@use "./effects.scss" as *;

.header {
  @include container();
  @include padding("sm");
  @include bgTheme();
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  &__text {
    @include secondaryFont();
    @include textSize("lg");
  }
}

.main {
  @include container();
  @include padding("lg");
  @include centered();
  gap: 40px;
  overflow: auto;
  scrollbar-gutter: stable;
  height: 100%;
}

.footer {
  @include container();
  @include padding("sm");
  @include bgTheme();
  @include blendIn();

  & > * {
    @include centered();
  }
}

.controls {
  @include grid(4);
  padding-inline: 0;
  align-items: center;

  &__title {
    grid-column: span 2;
  }
}

.checkboxlabel {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: max-content;
  #is-reserve {
    height: 0;
    width: 0;
  }

  &__contentwrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .customcheckbox {
    border-radius: 6px;
    width: 20px;
    height: 20px;
    background-color: #e4e4e4;
    position: relative;

    &_checked {
      &::after {
        content: "";
        position: absolute;
        background-image: url("/img/check.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 11px;
        height: 8px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
    }
  }

  .checkboxlabel {
    @include textSize("sm");
    color: #454545;
    display: flex;
  }
}

#type-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include textSize("sm");
  padding-inline: 10px;
  border-radius: 6px;
  background-color: #e4e4e4;
  height: 32px;
  border: none;
  color: #454545;
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-image: url("/img/chevron.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 4px;
    width: 12px;
  }
}

.list {
  @include grid(4);
}

@mixin defaultCard() {
  --card-bg-color: #fff;
  --card-name-color: #3f3f3f;
  --card-desc-color: #767676;
}

@mixin inReserveCard() {
  --card-bg-color: #208085;
  --card-name-color: #fff;
  --card-desc-color: #e7e7e7;
}

.card {
  &_default {
    @include defaultCard();
  }
  &_inreserve {
    @include inReserveCard();
  }

  & {
    height: 349px;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--card-bg-color);
    transition: box-shadow 300ms;
    display: flex;
    flex-direction: column;
    &:hover {
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
    }
  }

  &__image {
    height: 146px;
    width: 100%;
    position: relative;
    flex-grow: 0;

    img {
      object-fit: cover;
      height: inherit;
      width: inherit;
      display: flex;
    }
  }

  &__inreservelabel {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    color: #58ffb5;
    padding-top: 16px;
    background: linear-gradient(180deg, #208085 0%, rgba(32, 128, 133, 0) 100%);
    z-index: 1;
    text-align: center;
  }

  &__datawrapper {
    @include centered();
    @include padding("md");
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    gap: 24px;
  }

  &__descwrapper {
    @include centered();
    gap: 10px;
  }

  &__name {
    @include textSize("md");
    color: var(--card-name-color);
  }

  &__linewrapper {
    @include textSize("sm");
    @include centered();
    color: var(--card-desc-color);
  }

  &__buttonwrapper {
    @include centered();
    gap: 10px;
    width: 100%;
  }
}

.card-error-message {
  grid-column: span 4;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.modal {
  & {
    z-index: 10;
    border: none;
    height: max-content;
    width: max-content;
    top: 30px;
    background-color: transparent;
    display: flex;
    gap: 4px;
  }
  &::backdrop {
    backdrop-filter: blur(81.54845428466797px);
    background: rgba(14, 68, 71, 0.2);
  }

  &__inlaywrapper {
    border-radius: 6px;
    overflow: hidden;
  }

  &__inlay {
    &_default {
      @include defaultCard();
    }
    &_inreserve {
      @include inReserveCard();
    }

    & {
      background-color: var(--card-bg-color);
      width: 460px;
      max-height: calc(100vh - 60px);
      height: max-content;
      overflow: auto;
    }
  }

  &__inreservelabel {
    @include textSize("lg");
    @include padding("md");
    position: absolute;
    height: 200px;
    width: inherit;
    top: 0;
    left: 0;
    color: #58ffb5;
    background: linear-gradient(180deg, #208085 0%, rgba(32, 128, 133, 0) 100%);
    z-index: 1;
  }

  &__image {
    height: 400px;
    overflow: hidden;
    width: 100%;
    position: relative;
    img {
      object-fit: cover;
      height: inherit;
      width: inherit;
      display: flex;
    }
  }

  &__datawrapper {
    @include padding("md");
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__descwrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__name {
    @include textSize("lg");
    color: var(--card-name-color);
  }

  &__linewrapper {
    @include textSize("md");
    color: var(--card-desc-color);
  }

  &__description {
    @include textSize("sm");
    color: var(--card-desc-color);
  }

  &__buttonwrapper {
    display: flex;
    gap: 10px;
    width: 100%;
  }
}

.cancel-button {
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("/img/cross.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18px;
  width: 18px;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    filter: invert(1);
  }
}

.button {
  @include textSize("sm");
  @include centered();
  justify-content: center;
  border-radius: 16px;
  height: 32px;
  width: 100%;
  transition: 300ms;
  cursor: pointer;
  border: 2px solid;

  &_primary {
    background-color: #58ffb5;
    color: #208085;
    border-color: transparent;
    &:hover {
      background-color: #feed7e;
    }
  }

  &_secondary {
    background-color: #208085;
    color: #fff;
    border-color: transparent;

    &:hover {
      background-color: #0e4447;
    }
  }

  &_withborder {
    border-color: #fff;
  }
}
