@use "./reset.scss" as *;
@use "./globals.scss" as *;
@use "./theming.scss" as *;
@use "./typography.scss" as *;
@use "./layout.scss" as *;
@use "./effects.scss" as *;

.header {
  @include container();
  @include padding("sm");
  @include bgTheme();
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  &__text {
    @include secondaryFont();
    @include textSize("lg");
  }
}

.main {
  @include container();
  @include padding("lg");
  @include centered();
  gap: 40px;
  overflow: auto;
  scrollbar-gutter: stable;
  height: 100%;
}

.footer {
  @include container();
  @include padding("sm");
  @include bgTheme();
  @include blendIn();

  & > * {
    @include centered();
  }
}

.controls {
  @include grid(4);
  padding-inline: 0;

  &__title {
    grid-column: span 2;
  }
}

.list {
  @include grid(4);
}

@mixin defaultCard() {
  --card-bg-color: #fff;
  --card-name-color: #3f3f3f;
  --card-desc-color: #767676;
}

@mixin inReserveCard() {
  --card-bg-color: #208085;
  --card-name-color: #fff;
  --card-desc-color: #e7e7e7;
}

.card {
  &_default {
    @include defaultCard();
  }
  &_inreserve {
    @include inReserveCard();
  }

  & {
    height: 349px;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--card-bg-color);
    transition: box-shadow 300ms;
    &:hover {
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
    }
  }

  &__image {
    height: 146px;
    width: 100%;
    position: relative;

    img {
      object-fit: cover;
      height: inherit;
      width: inherit;
      display: flex;
    }
  }

  &__inreservelabel {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    color: #58ffb5;
    padding-top: 16px;
    background: linear-gradient(180deg, #208085 0%, rgba(32, 128, 133, 0) 100%);
    z-index: 1;
    text-align: center;
  }

  &__datawrapper {
    @include centered();
    @include padding("md");
    height: 100%;
    gap: 24px;
  }

  &__descwrapper {
    @include centered();
    gap: 10px;
  }

  &__name {
    @include textSize("md");
    color: var(--card-name-color);
  }

  &__linewrapper {
    @include textSize("sm");
    @include centered();
    color: var(--card-desc-color);
  }

  &__buttonwrapper {
    @include centered();
    gap: 10px;
    width: 100%;
  }
}

.card-error-message {
  grid-column: span 4;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.modal {
  & {
    z-index: 10;
    border-radius: 6px;
    border: none;
    width: 460px;
    max-height: calc(100vh - 60px);
    height: max-content;
    top: 30px;
    overflow: auto;
  }

  &__inlay {
    &_default {
      @include defaultCard();
    }
    &_inreserve {
      @include inReserveCard();
    }

    & {
      background-color: var(--card-bg-color);
    }
  }

  &__inreservelabel {
    @include textSize("lg");
    @include padding("md");
    position: absolute;
    height: 200px;
    width: inherit;
    top: 0;
    left: 0;
    color: #58ffb5;
    // padding-top: 16px;
    background: linear-gradient(180deg, #208085 0%, rgba(32, 128, 133, 0) 100%);
    z-index: 1;
  }

  &::backdrop {
    // backdrop-filter: blur(81.54845428466797px);
    // background: rgba(14, 68, 71, 0.2);
    // height: 100%;
    // width: 100%;
    // background-image: linear-gradient(
    //   45deg,
    //   magenta,
    //   rebeccapurple,
    //   dodgerblue,
    //   green
    // );
    // opacity: 0.75;
  }

  &__image {
    border-radius: 6px 6px 0 0;
    height: 400px;
    overflow: hidden;
    width: 100%;
    position: relative;
    img {
      object-fit: cover;
      height: inherit;
      width: inherit;
      display: flex;
    }
  }

  &__datawrapper {
    @include padding("md");
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__descwrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__name {
    @include textSize("lg");
    color: var(--card-name-color);
  }

  &__linewrapper {
    @include textSize("md");
    color: var(--card-desc-color);
  }

  &__description {
    @include textSize("sm");
    color: var(--card-desc-color);
  }

  &__buttonwrapper {
    display: flex;
    gap: 10px;
    width: 100%;
  }
}

.button {
  @include textSize("sm");
  @include centered();
  justify-content: center;
  border-radius: 16px;
  height: 32px;
  width: 100%;
  transition: 300ms;
  cursor: pointer;
  border: 2px solid;

  &_primary {
    background-color: #58ffb5;
    color: #208085;
    border-color: transparent;
    &:hover {
      background-color: #feed7e;
    }
  }

  &_secondary {
    background-color: #208085;
    color: #fff;
    border-color: transparent;

    &:hover {
      background-color: #0e4447;
    }
  }

  &_withborder {
    border-color: #fff;
  }
}
