@use "./reset.scss" as *;
@use "./globals.scss" as *;
@use "./theming.scss" as *;
@use "./typography.scss" as *;
@use "./layout.scss" as *;
@use "./effects.scss" as *;

:root {
  font-size: 16px;
  @media (max-width: 960px) {
    font-size: 14px;
  }
}

.header {
  @include container();
  @include paddingBlock("sm");
  @include paddingInline("lg");
  @include theme("fringe");
  @media (max-width: $md) {
    @include paddingInline("md");
  }
  @media (max-width: $sm) {
    @include paddingInline("sm");
  }
}

.logo {
  @include pointer();
  @include flex(0.75em, "block");
  width: max-content;

  &__text {
    @include secondaryFont();
    @include textSize("lg");
  }
}

.main {
  @include container();
  @include paddingBlock("lg");
  @include paddingInline("lg");
  @include flex(2.5em, block, column);
  overflow: auto;
  scrollbar-gutter: stable;
  height: 100%;
  @media (max-width: $md) {
    @include paddingBlock("md");
    @include paddingInline("md");
    @include flex(2em, block, column);
  }
  @media (max-width: $sm) {
    @include paddingInline("sm");
  }
}

.footer {
  @include container();
  @include paddingBlock("sm");
  @include paddingInline("lg");
  @include bgTheme();
  @include blendIn();
  @media (max-width: $md) {
    @include paddingInline("md");
  }
  @media (max-width: $sm) {
    @include paddingInline("sm");
  }

  & > * {
    @include flex(0, inline);
  }
}

.controls {
  @include grid(4, block, 1.25em);
  padding-inline: 0;

  @media (max-width: 960px) {
    @include grid(2, block, 1em);
  }

  &__title {
    grid-column: span 2;
  }
}

.checkboxlabel {
  @include pointer();
  @include flex(0, block);
  width: max-content;
  #is-reserve {
    height: 0;
    width: 0;
  }

  &__contentwrapper {
    @include flex(0.675em, block);
  }

  .customcheckbox {
    @include rounded();
    @include theme("input");
    width: 1.25em;
    height: 1.25em;
    position: relative;

    &_checked {
      &::after {
        content: "";
        position: absolute;
        @include bgImg("check.svg", 11px, 8px);
        @include centered();
      }
    }
  }

  .checkboxlabel {
    @include textSize("sm");
    color: #454545;
  }

  &:hover .customcheckbox {
    background-color: #feed7e !important;
  }
}

.selector {
  @include textSize("sm");
  @include rounded();
  @include pointer();
  height: 2em;
  width: 100%;
  position: relative;
  z-index: 5;

  &::after {
    @include bgImg("chevron.svg", 12px, 4px);
    position: absolute;
    content: "";
    z-index: 10;
    top: 50%;
    right: 0.625em;
    transform: translateY(-50%);
  }

  &_hidden {
    & .selector__dropdown {
      pointer-events: none;
      opacity: 0;
    }
  }

  &__input {
    @include theme("input");
    @include rounded();
    @include pointer();
    height: inherit;
    width: inherit;
    padding-inline: 0.625em;
    border: none;
    outline: none;
  }

  &__dropdown {
    @include rounded();
    @include theme("input");
    padding-block: 0.625em;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    list-style-type: none;

    & li {
      @include flex(0, block);
      @include pointer();
      padding-inline: 0.625em;
      height: 1.5em;
      &:hover {
        background-color: #feed7e;
      }
    }
  }
}

.list {
  @include grid(4, null, 1.25em);
  @media (max-width: 960px) {
    @include grid(2, null, 1em);
  }
  @media (max-width: 580px) {
    @include grid(1, null, 1em);
  }
}

@mixin defaultCard() {
  --card-bg-color: #fff;
  --card-name-color: #3f3f3f;
  --card-desc-color: #767676;
}

@mixin inReserveCard() {
  --card-bg-color: #208085;
  --card-name-color: #fff;
  --card-desc-color: #e7e7e7;
}

.card {
  &_default {
    @include defaultCard();
  }
  &_inreserve {
    @include inReserveCard();
  }

  & {
    @include pointer("double-click");
    @include rounded();
    @include transition();
    @include flex(0, null, column);
    @include shadowOnHover();
    height: 22em;
    overflow: hidden;
    background-color: var(--card-bg-color);
    @media (max-width: $sm) {
      height: max-content;
    }
  }

  &__image {
    height: 146px;
    width: 100%;
    position: relative;
    flex-grow: 0;
    @media (max-width: $md) {
      height: 164px;
    }

    @media (max-width: $sm) {
      height: 200px;
    }

    img {
      @include flex();
      object-fit: cover;
      height: inherit;
      width: inherit;
    }
  }

  &__inreservelabel {
    @include theme("inreserve-label");
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    padding-top: 1em;
    z-index: 1;
    text-align: center;
  }

  &__datawrapper {
    @include flex(1.5em, both, column);
    @include padding("md");
    flex-grow: 1;
    height: 100%;
    @media (max-width: $md) {
      @include padding("sm");
      @include flex(0.5em, both, column);
    }
  }

  &__descwrapper {
    @include flex(0.625em, block, column);
    @media (max-width: $md) {
      @include flex(0.5em, block, column);
    }
  }

  &__name {
    @include textSize("md");
    color: var(--card-name-color);
  }

  &__linewrapper {
    @include flex(0, block, column);
    @include textSize("sm");
    color: var(--card-desc-color);
  }

  &__buttonwrapper {
    @include flex(0.625em, block, column);
    width: 100%;
    @media (max-width: $md) {
      @include flex(0.5em, block, column);
    }
  }
}

.card-error-message {
  @include flex(0, inline);
  grid-column: span 4;
  list-style-type: none;
}

.modal {
  & {
    @include flex(4px);
    @include dialogBackdrop();
    @include theme("no-bg");
    z-index: 10;
    border: none;
    height: max-content;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
  }

  &__inlaywrapper {
    @include rounded();
    overflow: hidden;
  }

  &__inlay {
    &_default {
      @include defaultCard();
    }
    &_inreserve {
      @include inReserveCard();
    }

    & {
      background-color: var(--card-bg-color);
      width: 460px;
      max-height: calc(100vh - 60px);
      height: max-content;
      overflow: auto;
      @media (max-width: $sm) {
        width: calc(100vw - 4em);
        max-height: calc(100vh - 2em);
      }
    }
  }

  &__inreservelabel {
    @include textSize("lg");
    @include padding("md");
    @include theme("inreserve-label");
    position: absolute;
    height: 12.5em;
    width: inherit;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__image {
    height: 400px;
    overflow: hidden;
    width: 100%;
    position: relative;
    img {
      @include flex();
      object-fit: cover;
      height: inherit;
      width: inherit;
    }
  }

  &__datawrapper {
    @include flex(1.5em, null, column);
    @include padding("md");
  }

  &__descwrapper {
    @include flex(0.625em, null, column);
  }

  &__name {
    @include textSize("lg");
    color: var(--card-name-color);
  }

  &__linewrapper {
    @include textSize("md");
    color: var(--card-desc-color);
  }

  &__description {
    @include textSize("sm");
    color: var(--card-desc-color);
  }

  &__buttonwrapper {
    @include flex(0.625em);
    width: 100%;
  }
}

.cancel-button {
  @include pointer();
  @include theme("hoverable-white");
  @include maskImg("cross.svg");

  border: none;
  outline: none;
  width: 18px;
  height: 18px;
}

.button {
  @include flex(0, both, column);
  @include textSize("sm");
  @include pointer();
  @include rounded(1em);
  @include transition();
  height: 2em;
  width: 100%;
  border: 2px solid;
  border-color: transparent;

  &_primary {
    @include theme("primary-btn");
  }

  &_secondary {
    @include theme("secondary-btn");
  }

  &_withborder {
    border-color: #fff;
  }
}
