@use "./reset.scss" as *;
@use "./globals.scss" as *;
@use "./theming.scss" as *;
@use "./typography.scss" as *;
@use "./layout.scss" as *;
@use "./effects.scss" as *;

.header {
  @include container();
  @include padding("sm");
  @include theme("fringe");
}

.logo {
  @include pointer();
  @include flex(12px, "block");
  width: max-content;

  &__text {
    @include secondaryFont();
    @include textSize("lg");
  }
}

.main {
  @include container();
  @include padding("lg");
  @include flex(40px, block, column);
  overflow: auto;
  scrollbar-gutter: stable;
  height: 100%;
}

.footer {
  @include container();
  @include padding("sm");
  @include bgTheme();
  @include blendIn();

  & > * {
    @include flex(0, inline);
  }
}

.controls {
  @include grid(4, block);
  padding-inline: 0;

  &__title {
    grid-column: span 2;
  }
}

.checkboxlabel {
  @include pointer();
  @include flex(0, block);
  width: max-content;
  #is-reserve {
    height: 0;
    width: 0;
  }

  &__contentwrapper {
    @include flex(10px, block);
  }

  .customcheckbox {
    @include rounded();
    @include theme("input");
    width: 20px;
    height: 20px;
    position: relative;

    &_checked {
      &::after {
        content: "";
        position: absolute;
        @include bgImg("check.svg", 11px, 8px);
        @include centered();
      }
    }
  }

  .checkboxlabel {
    @include textSize("sm");
    color: #454545;
  }
}

.selector {
  @include textSize("sm");
  @include rounded();
  @include pointer();
  height: 32px;
  width: 100%;
  position: relative;
  z-index: 5;

  &::after {
    @include bgImg("chevron.svg", 12px, 4px);
    position: absolute;
    content: "";
    z-index: 10;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &_hidden {
    & .selector__dropdown {
      pointer-events: none;
      opacity: 0;
    }
  }

  &__input {
    @include theme("input");
    @include rounded();
    @include pointer();
    height: inherit;
    width: inherit;
    padding-inline: 10px;
    border: none;
    outline: none;
  }

  &__dropdown {
    @include rounded();
    @include theme("input");
    padding-block: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    list-style-type: none;

    & li {
      @include flex(0, block);
      @include pointer();
      padding-inline: 10px;
      height: 24px;
      &:hover {
        background-color: #feed7e;
      }
    }
  }
}

.list {
  @include grid(4);
}

@mixin defaultCard() {
  --card-bg-color: #fff;
  --card-name-color: #3f3f3f;
  --card-desc-color: #767676;
}

@mixin inReserveCard() {
  --card-bg-color: #208085;
  --card-name-color: #fff;
  --card-desc-color: #e7e7e7;
}

.card {
  &_default {
    @include defaultCard();
  }
  &_inreserve {
    @include inReserveCard();
  }

  & {
    @include pointer("double-click");
    @include rounded();
    @include transition();
    @include flex(0, null, column);
    @include shadowOnHover();
    height: 349px;
    overflow: hidden;
    background-color: var(--card-bg-color);
  }

  &__image {
    height: 146px;
    width: 100%;
    position: relative;
    flex-grow: 0;

    img {
      @include flex();
      object-fit: cover;
      height: inherit;
      width: inherit;
    }
  }

  &__inreservelabel {
    @include theme("inreserve-label");
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    padding-top: 16px;
    z-index: 1;
    text-align: center;
  }

  &__datawrapper {
    @include flex(24px, both, column);
    @include padding("md");
    flex-grow: 1;
    height: 100%;
  }

  &__descwrapper {
    @include flex(10px, block, column);
  }

  &__name {
    @include textSize("md");
    color: var(--card-name-color);
  }

  &__linewrapper {
    @include flex(0, block, column);
    @include textSize("sm");
    color: var(--card-desc-color);
  }

  &__buttonwrapper {
    @include flex(10px, block, column);
    width: 100%;
  }
}

.card-error-message {
  @include flex(0, inline);
  grid-column: span 4;
  list-style-type: none;
}

.modal {
  & {
    @include flex(4px);
    @include dialogBackdrop();
    @include theme("no-bg");
    z-index: 10;
    border: none;
    height: max-content;
    width: max-content;
    top: 30px;
  }

  &__inlaywrapper {
    @include rounded();
    overflow: hidden;
  }

  &__inlay {
    &_default {
      @include defaultCard();
    }
    &_inreserve {
      @include inReserveCard();
    }

    & {
      background-color: var(--card-bg-color);
      width: 460px;
      max-height: calc(100vh - 60px);
      height: max-content;
      overflow: auto;
    }
  }

  &__inreservelabel {
    @include textSize("lg");
    @include padding("md");
    @include theme("inreserve-label");
    position: absolute;
    height: 200px;
    width: inherit;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__image {
    height: 400px;
    overflow: hidden;
    width: 100%;
    position: relative;
    img {
      @include flex();
      object-fit: cover;
      height: inherit;
      width: inherit;
    }
  }

  &__datawrapper {
    @include flex(24px, null, column);
    @include padding("md");
  }

  &__descwrapper {
    @include flex(10px, null, column);
  }

  &__name {
    @include textSize("lg");
    color: var(--card-name-color);
  }

  &__linewrapper {
    @include textSize("md");
    color: var(--card-desc-color);
  }

  &__description {
    @include textSize("sm");
    color: var(--card-desc-color);
  }

  &__buttonwrapper {
    @include flex(10px);
    width: 100%;
  }
}

.cancel-button {
  @include pointer();
  @include bgImg("cross.svg", 18px, 18px);
  @include transition();
  @include theme("no-bg");
  border: none;
  outline: none;
  &:hover {
    filter: invert(1);
  }
}

.button {
  @include flex(0, both, column);
  @include textSize("sm");
  @include pointer();
  @include rounded(16px);
  @include transition();
  height: 32px;
  width: 100%;
  border: 2px solid;
  border-color: transparent;

  &_primary {
    @include theme("primary-btn");
  }

  &_secondary {
    @include theme("secondary-btn");
  }

  &_withborder {
    border-color: #fff;
  }
}
