@mixin container() {
  width: 100%;

  & > * {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
}

@mixin flex($gap: 0, $centered: null, $direction: null) {
  display: flex;
  gap: $gap;
  @if ($centered == inline) {
    justify-content: center;
  }
  @if ($centered == block) {
    align-items: center;
  }
  @if ($centered == both) {
    justify-content: center;
    align-items: center;
  }
  @if ($direction) {
    flex-direction: $direction;
  }
}

@mixin centered() {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin padding($value) {
  @if ($value == "lg") {
    padding: 40px;
  }
  @if ($value == "md") {
    padding: 20px;
  }
  @if ($value == "sm") {
    padding: 10px;
  }
}

@mixin grid($cols, $centered: null) {
  display: grid;
  grid-template-columns: repeat($cols, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
  @if ($centered == block) {
    align-items: center;
  }
}
