@mixin container() {
  width: 100%;

  & > * {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
}

@mixin centered() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin padding($value) {
  @if ($value == "lg") {
    padding: 40px;
  }
  @if ($value == "md") {
    padding: 20px;
  }
  @if ($value == "sm") {
    padding: 10px;
  }
}

@mixin grid($cols) {
  display: grid;
  grid-template-columns: repeat($cols, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
}
