@mixin secondaryFont() {
  font-family: "Adamina";
}

@mixin textSize($value) {
  @if ($value == "lg") {
    font-size: 1.5rem;
  }
  @if ($value == "md") {
    font-size: 1.125rem;
  }
  @if ($value == "sm") {
    font-size: 0.875rem;
  }
}
